<div class="row">
  <aside class="col-md-4">
    <% if current_user %>

    <%= image_tag current_user.avatar.url(:thumbnail) %>
    <strong><%= current_user.name %></strong>

    </br>
    <span> <%= link_to "view my profile", current_user %> </span>
    <span> <%= pluralize(current_user.posts.count, "posts")%> </span>
    <%= render 'shared/post_form' %>

    <%= form_for current_user do |f| %>
    <%= f.fields_for :posts, [Post.new]*10 do |post| %>
    <%= post.text_area :content %>
    <% end %>
    <%= f.submit "Publish blog"%>
    <% end %>

    <%= button_to 'Logout', logout_path, method: :delete %>
    <% end %>

  </aside>
  <div class="col-md-8">
    <h3> Feed timeline </h3>
    <% if @feed_items.any? %>
      <ul class="list-group">
        <% @feed_items.each do |post| %>
        <li class="list-group-item">

          <div class="media">
            <div class="media-left">
              <a href=<%= user_path(post.user.id) %> >
                <%= image_tag(post.user.avatar.url(:thumbnail) , class: "pull-left  media-object")%>
              </a>
            </div>
            <div class="media-body">
              <h5 class="media-heading"> <%= link_to(post.user.name,user_path(post.user.id)) %>
                Posted <%= time_ago_in_words(post.created_at) %> ago.</h5>
              <%= post.content %>
            </div>
          </div>

        </li>
        <% end %>
      </ul>
    <% end %>

  </div>
</div>
