<%= form_for(@post) do |f| %>
<% if @post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

  <ul>
    <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :content %><br>
  <%= f.text_area :content , placeholder: "Please write a post"%>
</div>

<%= f.fields_for :posts, [Post.new]*10 do |post| %>
<%= text_field_tag "fields[#{i}][content]" %>
<% end %>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
